.courses-grid-div {
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-gap: 1rem;
    justify-content: center;
  }
  
@media (min-width: 600px) {
    .courses-grid-div { grid-template-columns: repeat(2, 1fr); }
}
@media (min-width: 900px) {
    .courses-grid-div { grid-template-columns: repeat(3, 1fr); }
}

  
  